$def with (name,appdescription,getheader)
$:getheader
    <div class="col-sm-4 indexcol">
    <span class="glyphicon glyphicon-flash indexgly"></span>
      <h3>Intelligent</h3>
      <p>Instant threading, automated event planning and execution management, and more.</p>
    </div>
    <div class="col-sm-4 indexcol">
    <span class="glyphicon glyphicon-calendar indexgly"></span>
      <h3>Scalable</h3>
      <p>Select a recurring task or pay run schedule, and $appdescription[0] will automatically run it for you on time, all the time.</p>

    </div>
    <div class="col-sm-4 indexcol">
    <span 	class="glyphicon glyphicon-lock indexgly"></span>
      <h3>Secure</h3>
      <p>Vault grade security that encrypts data in transit and 
at rest, so you can rest easy.</p>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-footer">Panel Footer</div>
</div>



